<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Demo App">
    <listeners>
        <listener class-name="com.revature.listeners.TestListener" />
    </listeners>

    <!-- 2 scenarios, 2 test cases -->
    <test name="Cucumber Tests">
        <classes>
            <class name="com.revature.testcases.TestRunner"></class>
        </classes>
    </test>

    <!-- 6 @Test methods, 6 test cases -->
    <test name="Traditional TestNG @Test tests">
        <classes>
            <class name="com.revature.testcases.LoginTests"></class>
        </classes>
    </test>

    <!-- Instead of Selenium, these test cases will be utilizing Appium -->
    <test name="mobile app tests">
        <classes>
        </classes>
    </test>
</suite>